.App {
  text-align: center;
}

#wrapper {
  padding: 50px;
  position: absolute;
  width: 100%;
  min-width: 465px;
  text-align: center;
  display: block;
  left: 50%;
  transform: translate(-50%);
  background-color: aliceblue;
  color: gray;
  font-weight: 200;
}

.weatherTabs {
  min-width: 465px;
}

.weatherTab {
  padding: 30px;
  font-size: 15pt;
}

.selected.weatherTab {
  color: lightskyblue;
  font-weight: 700;
}

.weathercards {
  box-shadow: 0px 0px 10px grey;
  width: 450px;
  margin: 30px auto;
  padding: 2px;
  background-color: white;
  min-width: 465px;
}

.weathercards .forecast,
.weathercards .today {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.weathercards .today {
  justify-content: space-evenly;
  padding: 30px 10px;
  background-color: aliceblue;
}

.weathercards .forecast .weathercard {
  display: flex;
  padding: 10px 30px;
  background-color: aliceblue;
}

.today .weathercard {
  font-size: 13pt;
}

.weathercard {
  display: flex;
  font-size: large;
  font-size: 12pt;
}

.weathercard .weatherIcon {
  font-size: 50px;
  font-weight: 100;
  color: skyblue;
}
.today .temperature,
.today .weatherdesc {
  display: block;
}
.weathercard .temperature {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 500;
}
